:root {
  --input-focus-color: var(--blue);
  --input-border-thickness: var(--border-thickness);
  --input-background-color: var(--foreground-5);
  --label-width: 6em;
  --checkbox-size: 1.1rem;
  --button-background-primary: var(--blue);
  --button-foreground-primary: var(--white);
  --button-background-secondary: var(--background-color);
  --button-foreground-secondary: var(--foreground-color);
}

input, textarea, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  padding: 0.4em 0.65em;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  background: transparent;
  border: var(--input-border-thickness) solid var(--foreground-25);
  width: 100%;
  color: var(--foreground-color);
  outline-offset: calc(-1 * var(--input-border-thickness));
}

input, textarea {
  &:focus {
    outline: 2px solid var(--input-focus-color);
  }
}

input[type=range], input[type=checkbox] {
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

input[type=checkbox] {
  justify-self: flex-start;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  cursor: pointer;
}

textarea {
  width: auto;
  resize: none;
}

label {
  display: flex;
  gap: 0.3rem;
  flex-flow: column;
  font-weight: 600;
  user-select: none;

  &.inline {
    flex-flow: row;
    white-space: wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    display: grid;
    grid-template-columns: var(--label-width) 1fr;
    gap: 0.8rem;
  }
}

input::placeholder, textarea::placeholder {
  color: var(--foreground-25);
}

button {
  background-color: var(--button-background-primary);
  color: var(--button-foreground-primary);
  border-color: var(--foreground-10);
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease;

  &.secondary {
    background-color: var(--button-background-secondary);
    color: var(--button-foreground-secondary);
    border-color: var(--foreground-75);
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.25;
    pointer-events: none;
    cursor: default;
  }
}

.shaking {
  -webkit-animation: kf_shake 0.35s 1 linear;
  -moz-animation: kf_shake 0.35s 1 linear;
  -o-animation: kf_shake 0.35s 1 linear;
}
@-webkit-keyframes kf_shake {
  0% { -webkit-transform: translate(30px); }
  20% { -webkit-transform: translate(-30px); }
  40% { -webkit-transform: translate(15px); }
  60% { -webkit-transform: translate(-15px); }
  80% { -webkit-transform: translate(8px); }
  100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
  0% { -moz-transform: translate(30px); }
  20% { -moz-transform: translate(-30px); }
  40% { -moz-transform: translate(15px); }
  60% { -moz-transform: translate(-15px); }
  80% { -moz-transform: translate(8px); }
  100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
  0% { -o-transform: translate(30px); }
  20% { -o-transform: translate(-30px); }
  40% { -o-transform: translate(15px); }
  60% { -o-transform: translate(-15px); }
  80% { -o-transform: translate(8px); }
  100% { -o-origin-transform: translate(0px); }
}
