---
export interface Props {
	title: string;
}

const { frontmatter } = Astro.props
const { title, description } = frontmatter
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="itty.sh is a single-step, anonymous data store and link shortener.  Paste in your content, and use the link.  That's it!" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
  html, * {
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
  }

  html {
    height: 100%;
    background: #000000;
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    height: 80%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
  }

  body > * {
    max-width: 800px;
  }

  h1 {
    font-weight: 400;
    font-size: 2vw;
    font-size: clamp(2rem, 10vw, 5rem);
    margin-bottom: 0.5em;
    color: #eee;
    font-family: sans-serif;
    letter-spacing: -0.04em;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 2em;
  }
</style>
